.DS_Store
node_modules
/dist
blockchain/contracts/artifacts/
blockchain/contracts/compiled/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?